.OrderHistoryPage {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--white);
  border-radius: 2vmin;
}

.TopLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 1rem;
  background: var(--teal-4);
}

.Logo {
  display: flex;
  align-items: center;
}

.Title {
  font-family: 'Franklin Gothic Medium';
  font-size: 2rem;
  color: var(--text-light);
  margin: 0;
}

.ActionButtons {
  display: flex;
  align-items: center;
}

.ActionButtons button {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: var(--white);
  background: none;
  border: none;
  cursor: pointer;
}

.UserLogOut {
  color: var(--white);
  font-size: 1.2rem;
  cursor: pointer;
}

.CartIconContainer {
  display: flex;
  align-items: center;
}

.CartIcon {
  cursor: pointer;
  width: 30px;
  height: auto;
  margin-left: 20px;
}

.OrderContent {
  flex: 1;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  align-items: flex-start;
}