.custom-label {
    color: var(--text-light); 
  }
  
  .custom-input {
    color: var(--text-dark);
    background-color: var(--tan-3);
  }
  
  .custom-button {
    color: var(--teal-4);
    background-color: var(--teal-4);
  }
  