.Logo {
    position: relative;
    height: 8vmin;
    width: 8vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--orange);
    color: var(--tan-1);
    font-size: 2.7vmin;
    
    .LogoImage {
      position: absolute;
      top: 0; 
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  