.MenuList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 75%;
    margin-bottom: 50px;
}

.MenuHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
