.CategoryListContainer {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.CategoryList {
    list-style: none;
    padding: 0;
    font-size: 1.7vw;
    display: flex;
    align-items: center;
}

.CategoryList li {
    padding: 0.6vmin;
    text-align: center;
    border-radius: 0.5vmin;
    margin-right: 2vmin;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: transparent;

    &:hover {
        background-color: var(--tan-2);
    }

    &.active {
        background-color: var(--orange);
        color: white;
    }
}